.container {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.alignLable {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

