.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.actionSheet {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}