:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app, #app>div {
  height: 100%
}
.App {
  text-align: center;
}

.content {
  height: 300px;
  margin-top: 20%;
  display: grid;
}

.MuiPaper-root {
  min-width: 600px;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  direction: rtl;
}